{% extends 'base.html' %}

{% block head %}
<title>What is in my fridge?</title>
{% endblock %}

{% block body %}
<br>
<br>
<div class="jumbotron">
    <h1 class="display-4">Wondering what you can cook today?</h1>
    <hr class="my-4">
    <p>No need to go shopping, just check out what you can do with the food you already have in your fridge.</p>
    <p>Get inspired by creative recipes and start cooking!</p>
    <br>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="/get_recipe" role="button">Find recipes</a>
    </p>
</div>
{% endblock %}
